:root{
  --mainWhite:#fff;/**/
  --mainDark:#32435f;/**/
  --lightDark:#8f8681;/**/
  --lightGrey:#e1dcd9;
  --lightRed:#a67f78;
}
body{
  font-family: "Montserrat", sans-serif !important;
  color: var(--lightRed) !important;
  background: var(--mainWhite) !important;
}
a{
  color: var(--lightDark) !important;
  text-decoration: none !important;
}
.text-title{
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--lightDark);
}
.line{
  background: var(--lightDark) !important;
  width: 100% !important;;
  height: 2px !important;;
}